@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
}

input {
  height: 40px;
  padding: 10px;
  background-color: #131313;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px 20px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  box-shadow: inset -4px -4px 0px 0px #000;
}

img {
  display: inline;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #212121;
  color: #eee;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.bodyFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  color: #eee;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  width: 350px;
}

.statusBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.character {
  height: 64px;
  width: 64px;
}

.room {
  position: absolute;
  z-index: 0;
  width: 350px;
  transform: translate(-143px, -70px) !important;
}

.room.safari {
  /* transform: translate(-175px, -70px) !important; */
}

.coin {
  height: 28px;
  width: 28px;
  margin-left: 5px;
}

.coin-container {
  transform: translate(0px, -90px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-bottom: 110px;
}


.eightbit-btn {
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 10px 20px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
.eightbit-btn--red {
  background: #E76E55;
  box-shadow: inset -4px -4px 0px 0px #8C2022;
}
.eightbit-btn--red:hover, .eightbit-btn--red:focus {
  background: #CE372B;
  box-shadow: inset -6px -6px 0px 0px #8C2022;
}
.eightbit-btn--red:active {
  box-shadow: inset 4px 4px 0px 0px #8C2022;
}
.eightbit-btn--yellow {
  background: #F7D51D;
  box-shadow: inset -4px -4px 0px 0px #E59400;
}
.eightbit-btn--yellow:hover, .eightbit-btn--yellow:focus {
  background: #F2C409;
  box-shadow: inset -6px -6px 0px 0px #E59400;
}
.eightbit-btn--yellow:active {
  box-shadow: inset 4px 4px 0px 0px #E59400;
}

.eightbit-btn--black {
  background: #131313;
  color: #eee;
  box-shadow: inset -4px -4px 0px 0px #010101;
}
.eightbit-btn--black:hover, .eightbit-btn--black:focus {
  background: #010101;
  box-shadow: inset -6px -6px 0px 0px #000;
}
.eightbit-btn--black:active {
  box-shadow: inset 4px 4px 0px 0px #010101;
}


/* ____________ SHOP ______________ */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center; 
}

.product-card {
  flex: 0 1 calc(50% - 10px); 
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}

